/* Inter and Manrope, SIL Open Font License 1.1; accompanying OFL files apply. */
@font-face{font-family:Inter;src:url(inter-variable.woff) format('woff');font-style:normal;font-weight:100 900;font-display:swap}
@font-face{font-family:Manrope;src:url(manrope-variable.woff) format('woff');font-style:normal;font-weight:200 800;font-display:swap}
